/*-------------------new-css----------------*/
.post2{    margin-bottom: 85px;
    .post-img{padding-bottom: 56%;}
    p{font-size: 15px;       margin-bottom: 15px;  line-height: 1.5;     letter-spacing: 0.6px;}
}
.block-info-text{
    .info-text-line{display: table;     margin-bottom: 78px; font-size: 15px;     line-height: 1.5;     letter-spacing: 0.6px;
        .info-text-ico{display: table-cell; vertical-align: middle; text-align: center; width: 130px;}
        .info-text-cont{display: table-cell; vertical-align: middle; padding:0 0 0 0px;
            p{padding:0; margin:0;}
            b{display: block; font-weight: 500;     margin-bottom: 6px;}
        }
    }
}
.wel-text{font-size: 18px;     margin: -10px 0 0 136px;     letter-spacing: 0.6px;     margin-bottom: 23px;}
.post2-concept{
    .post-img{    margin-bottom: 41px;}
}
.post2-collection{    margin-bottom: 59px;}
.block-info-text-collection{
    .info-text-line{margin-bottom: 51px;}
}
@media screen and (max-width:1024px){
    .post2{    margin-bottom: 73px;
        .post-img{    padding-bottom: 56%;
            img{width: auto;}
        }
    }
    .block-info-text{
        .info-text-line{    margin-bottom: 62px;
            .info-text-ico{    width: 97px;}
            .info-text-cont{    padding: 0 17px 0 17px;}
        }
    }
    .wel-text{margin: -6px 0 0 114px;     margin-bottom: 54px;}
}
@media screen and (max-width:639px){
   .post2{      margin-bottom: 56px;
        .post-img{    padding-bottom: 76%;     min-height: 213px;}
   }
    .block-info-text{
        .info-text-line{ display: block;      margin-bottom: 60px;
            .info-text-ico{     margin-bottom: 21px;  display: block; width: 100%; text-align: center;}
            .info-text-cont{ display: block; text-align: center;   padding: 0 0px 0 0px;}
        }
    }
    .wel-text{margin: -18px 0 0 0px;  text-align: center;   margin-bottom: 54px;} 
    .block-info-text-collection{
        .info-text-line{    margin-bottom: 68px;
            .info-text-ico{    margin-bottom: 27px;}   
        }
        
    }
}