.range_slider{margin:-4px 0px 21px 0px;}
.range_slider p{margin-right:0px;margin-bottom:0px;display:block;overflow:hidden;}
.range_slider span{ font-size:13px;color:#000000;font-family:'GothamPro', arial;margin:0 8px 0 4px;line-height:39px;vertical-align:top;font-weight:300;}
.range-btn{display:block;width:22px;height:30px;background:url(../images/icons/go.jpg) no-repeat;cursor:pointer;border:none;}
.minCost, .maxCost{padding:2px 0px 2px 0px;vertical-align:top;vertical-align:top;margin:0 0 0 0;width:29%;border:none;text-align:center;line-height:17px;background:#fff;
	font-size:13px;color:#000000;font-family:'GothamPro', arial;font-weight:400;border-radius:0px;}
.minCost{float:left;text-align:left;}
.maxCost{float:right;text-align:right;}
#filter-slider, .filter-slider{clear:both;margin:8px 6px 0px 6px;}
.ui-slider{position:relative;}
.ui-slider .ui-slider-handle{transition: all 0s ease-out;position:absolute;z-index:2;width:13px;height:13px;background:#fff;border:2px solid #29311a;border-radius:50%;cursor:pointer;}
.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;overflow:hidden;}
.ui-slider-horizontal{height:2px;}
.ui-slider-horizontal .ui-slider-handle{top:-6px;margin-left:-6.5px;}
.ui-slider-horizontal .ui-slider-handle+.ui-slider-handle{}
.ui-slider-horizontal .ui-slider-range{top:0px;height:2px;}
.ui-slider-horizontal .ui-slider-range-min{left:0;}
.ui-slider-horizontal .ui-slider-range-max{right:0;}
.ui-widget-content{background:#d7d7d7;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;border-radius:2px;}
.ui-widget-header{background:#29311a;}
